<h1>All merchants</h1>


<table id="newtable">
  <tr>
    <th>Merchants</th>
  </tr>

<% for merchant in @merchants%>
 <tr>
   <td><%= merchant.name %></td>
 </tr>
<% end %>
</table>


<h1>Enter new merchant details</h1>

<form action="/merchants/new" method="POST">

<label for="merchant-field">Tag Name:</label>
<input id="merchant-field" type="text" name="name">

<input type="submit" class="button" value="Save merchant"/>
