<h2>Welcome to MoneyCashBoard</h1>

<ul>
  <li>Keep track of your spending</li>
  <li>Analyse what your are spending on</li>
  <li>View breakdowns of monthly spending</li>
  <li>Warning when spending exceeds budget</li>
</ul>
