<!DOCTYPE html>
<html>
<head>
  <title>MoneyCashBoard</title>
  <!-- <link rel="icon" href="<i class="fa fa-gbp fa-lg" aria-hidden="true">"> -->
  <link rel="stylesheet" href = "/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div id="banner">
    <div id="banner-content">
      <h1>MoneyCashBoard</h1>
    </div>
  </div>

  <div id="footer">
    <div id="footer-content">
      <!-- <p>&copy; RJF Enterprises 2017</p> -->
    </div>
  </div>

  <div id="main-content">

    <ul id="secondnav">
      <span style="display:block; height: 100px;"></span>
      <li><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i>  Home</a></li>
      <li><a href="/transactions"><i class="fa fa-gbp fa-lg" aria-hidden="true"></i>  All Transactions</a></li>
      <li><a href="/transactions/new"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>  New Transaction</a></li>
      <li><a href="/accountsettings/1/edit"><i class="fa fa-cog fa-lg" aria-hidden="true"></i>  Account Settings</a></li>
      <li><a href="/merchants/new"><i class="fa fa-briefcase fa-lg" aria-hidden="true"></i>  Merchant Manager</a></li>
      <li><a href="/tags/new"><i class="fa fa-briefcase fa-lg" aria-hidden="true"></i>  Tag Manager</a></li>
      <li><a href="/transactions/reports"><i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i>  Reports</a></li>
    </ul>

    <div style="margin-left:15%;margin-right:15%;padding:1px 16px;height:1000px;">
          <%= yield %>
    </div>
  </div>
</body>
</html>
