<!DOCTYPE html>
<html>
<head>
  <title>CashMoneyBoard</title>
  <link rel="stylesheet" href = "/styles.css" />
</head>
<body>

  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/transactions">All Transactions</a></li>
    <li><a href="/transactions/new">New Transaction</a></li>
    <li><a href="/accountsettings/1/edit">Account Settings</a></li>
  </ul>

  <div style="margin-left:15%;margin-right:15%;padding:1px 16px;height:1000px;">
    <h1 class="w3-container w3-teal">Banner</h1>
<%= yield %>
<div class="w3-container w3-teal">

<h5>Footer</h5>
  <p>Info</p>
</div>

  </div>
</body>
</html>
