<!DOCTYPE html>
<html>
<head>
  <title>CashMoneyBoard</title>
  <link rel="stylesheet" href = "/styles.css" />
</head>
<body>


  <nav id="grad" class="topnav">
    <a href="/">HOME</a>
    <a href="/transactions">ALL TRANSACTIONS</a>
    <a href="/transactions/new">CREATE A TRANSACTION</a>
  </nav>

  <%= yield %>

</body>
</html>
