<h1>Budget settings</h1>

<div>
<p>£<%= sprintf("%.2f",@accountsettings.budget_limit) %></p>
</div>




<h1>Update budget</h1>

<form action="/accountsettings/<%= @accountsettings.id %>" method="POST">

<div>
<label for="budget-limit-field">New budget: </label>
<input id="budget-limit-field" type="number" name="budget_limit" step="0.01" required>
</div>

<div>
<input type="submit" class="button" value="Save changes"/>
</div>
