<h1>Budget settings</h1>


<p>£<%= sprintf("%.2f",@accountsettings.budget_limit) %></p>



<h1>Update budget</h1>

<form action="/accountsettings/<%= @accountsettings.id %>" method="POST">

<label for="budget-limit-field">New budget: </label>
<input id="budget-limit-field" type="float" name="budget_limit">

<input type="submit" class="button" value="Save changes"/>

<form method="GET" action="/merchants/new">
    <button class="button" type="submit">Create new Merchant</button>
</form>

<form method="GET" action="/tags/new">
    <button class="button" type="submit">Create new Tag</button>
</form>
