<h1>Enter new tag details</h1>

<form action="/tags/new" method="POST">

<label for="tag-field">Tag Name:</label>
<input id="tag-field" type="text" name="name" required>

<input type="submit" class="button" value="Save tag"/>

<h1>All tags</h1>

<table id="newtable">
  <tr>
    <th>Tags</th>
  </tr>

<% for tag in @tags%>
 <tr>
   <td><%= tag.name %></td>
 </tr>
<% end %>
</table>
